<div class="container"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand font-weight-bold" href="#">Employee Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" style="justify-content: flex-end;" id="navbarSupportedContent">
            <div class="form-inline my-2 my-lg-0 ">
                <button class="btn btn-sm btn-success my-2 my-sm-0 font-weight-bold" type="button"> <a routerLink="/authentication" style="color:white">Logout</a></button>
            </div>
        </div>
    </nav> 
    <div class="row mt-4">
        <div class="col-md-6">
            <app-employee-list></app-employee-list>
        </div>
        <div class="col-md-6">
            <app-add-new-employee></app-add-new-employee>
        </div>
    </div> 
</div>

<router-outlet></router-outlet>